<div class="container">
  <div class="col-xs-6" align="center">
    <h1>Yatut - приложение для проверки посещаемости</h1>
    <p class="lead" align="center">С помощью бота Telegram @yatut_bot, ваши студенты могут заверить, что посетили ваше занятие.<br>Все что вам надо: создать событие и задать ему координаты аудитории с радиусом.</p>
  </div>

</div>
