<div class="container">
  <div class="col-xs-6" align="center">
    <h1>Yatut - простой инструмент для проверки посещаемости</h1>
    <p class="lead" align="center">Если вы администратор, то создать событие - это проще простого. 
    При создании события, вы задаёте координаты центра нужного помещения и радиус. <br>
    С помощью Telegram бота @yatut_bot, ваши студенты или сотрудники 
    могут заверить, что присутствовали на событии.
    Если пользователь бота, во время проверки посещаемости, находится в радиусе события, то тогда он успешно прошел проверку.</p>
   <h2 class="centered">Как пользоваться ботом Yatut?</h2> 
  
  </div>

 
  <div class="row"  align="center">
  <div class="col-md-6">
    <%= image_tag "photo1.jpg", class:"img-responsive screenshot" %>  
  </div>

  <div class="col-md-6">
    <p>1. Если вы администратор, то создать событие - это проще простого. При создании события, вы задаёте координаты центра нужного помещения и радиус. </p>
  </div>
  </div>
</div>
