<div class="row">
  <div class="col-md-10">
  <h1>События</h1>
  <table style="width: auto;" class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Название</th>
        <th>Адрес</th>        
      </tr>
    </thead>
    <tbody>
      <% @subjects.each do |subject| %>
        <tr>
          <td><%= link_to subject.name, subject %></td>
          <td><%= subject.address %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <div class="col-md-2 ">
    <%= link_to 'Новое событие', new_subject_path, class:"btn btn-primary" %>
  </div>
</div>


