<h1>Attendance List</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.first_name %></td>
        <td><%= attendance.last_name %></td>        
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Subjects', subjects_path %>



