<h1>Список посещаемости</h1>

<table class="table table-hovered table-bordered">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Время</th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.first_name %></td>
        <td><%= attendance.last_name %></td>
        <td><%= attendance.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Предметы', subjects_path %>



